body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    position: relative;
}

.dropdown {
    margin: 0 auto;

}

nav {
    height: 60px;
    background: #243C6D;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

label.logo a {
    font-size: 50px;
    color: white;
    padding: 0 40px;
    line-height: 50px; 
    font-family: 'Brush Script MT', cursive;
    top: 2px;
} 

nav ul {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 130px;

}

nav ul li {
    background: rgb(231, 226, 226);
    position: relative;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: #243C6D;
    font-size: 4px;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    background: #243C6D;
    text-decoration: none;
    line-height: 60px;
    font-size: 17px;
    color: rgb(249, 247, 247);
}

nav ul li a:hover {
    background: rgb(180, 221, 249);
}
nav ul li.active a{
   text-decoration: none;
   cursor: pointer;
}
nav ul ul {
    position: absolute;
    top: 60px;
    display: none;

}

nav ul li:hover>ul {
    display: block;
}

nav ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

/* footer */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

footer {
    /* line-height: 2.0;
    font-family: 'Poppins', sans-serif;
    height: 310px;
    bottom: 0;
    box-sizing: border-box;
    background-color: #243C6D;
    padding: 0;
    position: relative;
    margin: 90px 0; */
    /* margin-top:auto; */
    width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background:  #243C6D;
  margin: 0;
  position: relative;
}

/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */

.container {
    max-width: 1150px;

    margin: auto;
}

/* footer {
    margin: 90px 0;
    padding: 0;

} */

.helpfont a {
    font-size: large;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

/* .footer {
    background-color: #243C6D;
    padding: 20px 0;


} */

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 22px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;

}

.footer-col p {
    color: white;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;

}

.footer-col ul li {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    font-weight: 300;
    text-decoration: none;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 10px;

}

.footer-col .social-links a {
    display: inline-block;
    height: 30px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s;

}

.footer-col .social-links a:hover {
    color: aqua;

}