body
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:#84B7FE;
    height: 100vh;
    overflow:hidden;
}
.center{
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translate(-50%, -50%);
    width:350px;
    justify-content: center;
}
.center h1
{
    padding: 10px;
    color:black;
    margin: 5px;
    font-size: 20px;
}
input[type=text],input[type=date],input[type=password] {
    width:100%;
    padding: 12px 18px;
    margin: 2px 0px;
    background-color: #84B7FE;
    border: 1px solid;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
    
  }
  
  /* Set a style for all buttons */
  button {
    background-color: whitesmoke;
    color: black;
    padding:10px 10px;
    height: 40px;
    margin: 20px 0px;
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .container {
    padding: 16px;
    font-size: medium;
  }

  .signup_link
{
    margin:15px 0;
    text-align: center;
    font-size:16px;
    color:black;
}
.signup_link a
{
    color:blue;
    text-decoration: none;
}
.signup_link a:hover
{
    text-decoration: underline;
}
