<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4><b>About us</b></h4>
                    <p>Our software ains to make </p>
                    <p>your bangali write upsa great one</p>
                    <p>by helping you to remove the </p>
                    <p> offensive words we detect</p>
                </div>
                <div class="footer-col">
                    <h4><b>Quick Links</b></h4>
                    <div class="helpfont">
                        <li>
                            <a href="#">Help</a>
                        </li>
                    </div>
                </div>
                <div class="footer-col">
                    <h4><b>Contact us</b></h4>
                    <div class="social-links">
                        <li><a href="#">Gmail<i class="glyphicon"> &#x2709;</i></a></li>
                        <li><a href="#">Phone<i class='fas'>&#xf095;</a> </li>
                        <li><a href="#">Message<i class='fas'>&#xf4ad;</a> </li>
                    </div>
                </div>
            </div>

        </div>

    </footer>

</body>
</html>