<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection Guidence</title>
</head>

<body bgcolor="#84B7FE">

    <font face="bookman old style">
        <h1 style="text-align: center;"> <b><u> Detection Guidence</u></b></h1>
    </font>

    <p style="text-align:center;"> <b>The color RED on the words help you see which words were detected as offensive
            words. </b></p>
    <p style="text-align:center;"> <b>You can see the detected words here and also can see the accuracy. </b></p>
    <p style="text-align:center;"> <b>After pressing the detect button Here on the down right you can see text accuracy
            (%</b></p>
    <p style="text-align:center;"> <b>and their sub classification such as sexual,religious, is the text a threat or
            troll with </b></p>
    <p style="text-align:center;"> <b>percentag.Also in the down left there will be a word count.</b></p>
    <center>
        <video width="500px" controls>
            <source src="CSE299 - Meeting 01.mp4" type="vedio/mp4">
    </center>
    </video>

</body>

</html>