<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <!-- stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/homepage.css') }}"
    />
    <!-- materials icon -->
    <!-- https://fonts.google.com/icons?icon.style=Sharp&icon.query=close -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
  </head>
  <body>
    <form>
        <div class="container1">
       <textarea placeholder="Snooper will highlight the inappropraite bengali words of your text.Start by writing,pasting or uploading something here and then press the detect button"></textarea>
    </div>
    <div class="container2">
        <textarea></textarea>
     </div>
    </form>
  </body>