
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <!-- stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <!-- materials icon -->
    <!-- https://fonts.google.com/icons?icon.style=Sharp&icon.query=close -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"/>
<!-- <header></header> -->
<link rel="stylesheet" href="{{url_for('static', filename='css/start.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
 <body>
  <header>
    <div class="dropdown">
      <nav>
          <label class="logo">SNOOPER</label>
      </nav>
  </div>
</header>

      <div class="container"> 
        <form action="/login" method="post">
        <h1>Log In to your Account</h1>

    <label for="email">Email Address</label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>
          <label for="password">Password</label>
          <input type="password" placeholder="Enter Password" name="password" id="password" required>
          <button type="submit"><b>Submit</b></button>
        <div class="signup_link">
         No Account? Sign Up <a href="{{url_for('views.SignUp')}}">Here</a>
       <br><a href="{{url_for('views.reset_pass')}}">Reset Password?</a>
        
      </div>
       </div> 
      </form>
    </div>
    
  </body>
  <body>
    <footer>
        <div class="content">
            <div class="left box">
                <div class="upper">
                    <div class="topic">About us</div>
                    <p>Our software aims to make </p>
                    <p>to detect offense words</p>
                </div>
            </div>
            <div class="middle box">
                <div class="lower">
                    <div class="topic">Contact us</div>
                    <div class="phone">
                        <a href="#"><i class="fas fa-phone-volume"></i>*********</a>
                    </div>
                    <div class="email">
                        <a href="#"><i class="fas fa-envelope"></i>abc@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="right box">
                <div class="topic">For Any Queries</div>
                <form action="#">
                    <input type="text" placeholder="Your Queries">
                    <input type="submit" name="" value="Send">
                </form>
            </div>
        </div>
    </footer>
</body>
    </html>
