<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="profile.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/start.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="dropdown">
      <nav>
          <label class="logo">SNOOPER</label>

          <ul>

              <li><a href="#"><i class="fa fa-bars"></i></a>
                  <ul>
                      <li><a class="active" href="#">AccountDetails</a></li>
                      <li><a href="#">Log out</a></li>
                  </ul>
              </li>
          </ul>
      </nav>
  </div>
</body>
<body>
      <form action="user_profile" method="post">
       
        <div class="container">
            <h2>My Profile </h2>
       
            
                  <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                   
                    
                  </div>

                  <div class="rightbox">
                    <div class="Profile tabshow">
                       <button> <a href="Update Pic" style="text-decoration: none; color: black; background-color: white;" >Update Picture</a></button>

                  
        

                    <button> <a href="Delete Pic" style="text-decoration: none; color: black;  background-color: red;">Delete Picture</a></button>
                   
                    <h5>First Name</h5>
                    <input type="text" class="input-field" name = "First name" required>               
                     <h5>Last Name </h5> 
                    <input type="text" class="input-field" name="Last name" required> </h5>
                    <h5>Username</h5>
                    <input type="text" class="input-field" name="Username" required>
                    <h5>Email</h5>
                    <input type="Email" class="input-field" name="email" required>
                    <h5>Password</h5>
                    <input type="Password" class="input-field" name="password" required>
                    <h5>Occupation</h5>
                    <input type="Occupation" class="input-field" name="occupation" required>
                    <h5>Birthday</h5>
                    <input type="date" class="input-field" name="date" required>
                  
                    <br><br>
                    <label>Gender :</label>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio"name="gender"
                    id="male">
                    &nbsp;
                    <span id="male">Male</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio"name="gender"
                    id="female">
                    &nbsp;
                    <span id="fmale">Female</span>
                    

                  </div>

        </div>


        <br>
        <div class="text-center">
        <button onclick="document.getElementById('id01').style.display='block'"style="text-decoration: none; color: black; background-color: green;">Update Info</button>
       
        <div id="id01" class="modal">

          <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        
        </div>

        </div>
        
    </form>
    
   
</body>
</html>