<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="profile.css">
</head>
<body>
      
        <div class="container">
            <h2>My Profile </h2>
       
            <form class="modal-content animate" action="/action_page.php" method="post">
                    
                  <div class="pic-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                   
                    
                  </div>

                  <div class="rightbox">
                    <div class="input-box">
                       <button> <a href="Update Pic" style="text-decoration: none; color: black; background-color: white;" >Update Picture</a></button>
            
                    <br>
                    <br>

                    <button> <a href="Delete Pic" style="text-decoration: none;  color: black;  background-color: red;">Delete Picture</a></button>
                    </div>
                    <br> 
                    
                    <div class="input-box">
                    <h5>First Name</h5>
                    <input type="text" class="input-field" name = "First name" required>
                  
                    <h5>Last Name</h5>
                    <input type="text" class="input-field" name="Last name" required>
                    <h5>Email</h5>
                    <input type="Email" class="input-field" name="email" required>
                    <h5>Password</h5>
                    <input type="Password" class="input-field" name="password" required>
                    <h5>Occupation</h5>
                    <input type="Occupation" class="input-field" name="occupation" required>
                    <h5>Birthday</h5>
                    <input type="date" class="input-field" name="date" required>
                    </div>

                    <div class="policy">
                    
                      <br><br>
                      <label>Gender :</label>
                      <br>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="radio"name="gender"
                      id="male">
                      &nbsp;
                      <span id="male">Male</span>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="radio"name="gender"
                      id="female">
                      &nbsp;
                      <span id="fmale">Female</span>
                      
                    
                    </div>

                    <br>
                    
                    <div class="text-center">
                      <button> <a href="modal.html" style="text-decoration: none; color: black; background-color: green;">Update Info</a></button>
                  
                    </div>
                    </div>
                  </form>
                
                  
</body>
</html>