* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: 'montserrat';
}
nav {
    height: 80%;
    width: 100%;
    background: blue;
}
label .logo {
    font-size: 35px;
    font-size: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}