<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Upload text and documents</title>
</head>

<body bgcolor="#84B7FE">

    <font face="bookman old style">
        <h1 style="text-align: center;"> <b><u> How to upload text or documents in the detection box</u></b></h1>
    </font>

    <p style="text-align:center;"> <b>Press “Detect” button for result. Remember that your text should not exceed 250
            words </b></p>
    <p style="text-align:center;"> <b>For Uploading documents, You have to upload a file in “Upload docs ” option in the
            lower</b></p>
    <p style="text-align:center;"> <b>left side.The doc file should not be more than 20 Kilobytes(KB).</b></p>
    <center>
        <video width="500px" controls>
            <source src="CSE299 - Meeting 01.mp4" type="vedio/mp4">
    </center>
    </video>

</body>

</html>