*{
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
  
}

body{
 background-color: white;
 color:#151515;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
.container{
  
  
  width: 2000px;
  background-color:#84B7FE;
  padding: 50px 50px;
  position: relative;

  }


